body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #2b88ec, #00c6ff);
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo-img {
  position: absolute;
  top: 100px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}


.umbrella-img {
  position: absolute;
  bottom: -3px;
  left: 50px; 
  width: 400px;
  height: auto;
  opacity: 0.9;
  z-index: 1;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 350px;
}



.login-container h2.title {
  margin-bottom: 25px;
  color: #003366;
  font-size: 24px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.role-selection {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  font-size: 14px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #2179c4;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #1d6ab3;
}

.register-link {
  margin-top: 15px;
  color: #003366;
  cursor: pointer;
  font-size: 14px;
}
